@model IEnumerable<MvcCoreLinqToXML.Models.Cliente>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Idcliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Direccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImagenCliente)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Idcliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Direccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImagenCliente)
            </td>
            <td>
               <a asp-controller="Cliente" asp-action="Details" asp-route-id="@item.Idcliente">
                   Details
               </a>
               <a asp-controller="Cliente" asp-action="Delete" asp-route-id="@item.Idcliente">
                   Delete
               </a>
               <a asp-controller="Cliente" asp-action="Update" asp-route-id="@item.Idcliente">
                   Update
               </a>
            </td>
        </tr>
}
    </tbody>
</table>
